<h1>Update Company</h1>
 
  <form action="/company_interests/<%=@company.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit the company's name:</label>
    <br>
    <input type="text" name="company_interest[name]" id= "company_interest_name" value="<%= @company.name %>">
    <br>
    <label>Edit the company's description:</label>
    <br>
    <input type="text" name="company_interest[description]" id= "company_interest_description" value="<%= @company.description %>">
    <br>
    <input type="submit" value="Update Company">
  </form>
