<!--Overall Company_Interests index (just names in ordered list of companies)-->

<h1>Hi, <%=@user.username%>!</h1>
<br>
<h2>Here are the companies you're interested in!</h2>
<br>
<ul>
<% @user.company_interests.each do |company| %>
  <li><%= company.name %> - <a href="/company_interests/<%=company.id%>/edit">Edit</a> </li>
  <br />
<% end %>
</ul>
<p><a href="/users/logout">Log Out</a></p>