<h2>Add a New Company</h2>
<img src="https://images.unsplash.com/photo-1535365860506-d8b700079e59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" style="float:right;width:300px;height:250px;">
<br />
<form action="/company_interests" method="POST">
  <label> Company Name: </label>
  <input type="text" name="company_interest[name]"> 
  <br />
  <br />
  <br />
  <label> Company Description: </label>
  <input type="text" name="company_interest[description]"> 
  <br />
  <br />
  <br />
  <h4>Applied?</h4>
  <br />
&nbsp; &nbsp; <input type="radio" name="company_interest[applied]" value="true"> Crushed it!<br />
<br />
&nbsp; &nbsp; <input type="radio" name="company_interest[applied]" value="false"> Not yet, but I'm on it asap!<br />
  <br />
  <input type="submit" value="Create Company">
</form>