<h1>Add a New Company</h1>

<form action="/company_interests" method="POST">
  <label> Company Name: </label>
  </br>
  <input type="text" name="company_interest[name]"> 
  </br>
  <label> Company Description: </label>
  <input type="text" name="company_interest[description]"> 
  </br>
  <input type="submit" value="Create Company">
</form>