<!--Show an individual company with with name and description. (Can add other details (location, etc.) if you want but would need to add them to the company_interests database as new columns, too.)-->

<h3><%=@company.name%></h3>
  <br>
  <h4><%=@company.description%></h4>
  <br>
  <br>

<p><a href="/users/logout">Log Out</a></p>

