<!--Show an individual company with with name and description. (Can add other details (location, etc.) if you want but would need to add them to the company_interests database as new columns, too.)-->

<h2><%=@company.name%></h2>
  <img src="https://images.unsplash.com/photo-1520085601670-ee14aa5fa3e8?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" style="float:right;width:375px;height:275px;">
  <h3><%=@company.description%></h3>
  <br>
  <br>
  <h4>Applied?</h4>
  <br>
&nbsp; &nbsp; <input type="radio" name="application" value="high"> Crushed it!<br>
<br>
&nbsp; &nbsp; <input type="radio" name="application" value="medium"> Not yet, but I'm on it asap!<br>
  <br>
  <br>
  <a href="/company_interests/<%=@company.id%>/edit">Edit</a>
  <br>
  <br>
  <label>Would you like to delete this company?</label>
<form method="POST" action="/company_interests/<%=@company.id%>">
  <input type="hidden" id="hidden" name="_method" value="DELETE" />
 <br> <input type="submit" value="Delete" />
</form>
<br>
<br>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="/company_interests">Company List</a> &nbsp;  &nbsp;  &nbsp; <a href="/users/logout">Log Out</a> &nbsp;  &nbsp;  &nbsp; 
<br>

