Show an individual company with with name and description. (Can add other details (location, etc.) if you want but would need to add them to the company_interests database as new columns, too.)

<p><a href="/users/logout">Log Out</a></p>
