<!--(For logging in a user)-->

<h3>Login to slay your career search!</h3>
<form method="post" action="/users/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">

  <input type="submit" value="Log In">
</form>

