<!--(For logging in a user)-->

<h2>Slay the day!</h2>
<img src="https://images.unsplash.com/photo-1516317518460-4deaeea07922?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" style="float:right;width:350px;height:235px;">
<h3>&nbsp;  &nbsp; Login to crush it!</h3>
<br>
<form method="post" action="/users/login">
 &nbsp;  &nbsp;  <input type="text" name="username" placeholder="Username:">
&nbsp;  &nbsp;  <input type="password" name="password" placeholder="Password:">
<br>
<br>
&nbsp;  &nbsp;  <input type="submit" value="Log In">
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<label><i>Don't have an account? </i> <a href="/users/signup">Sign Up here.</a></label>

