<!--(For logging in a user)-->

<h2>Slay the day!</h2>

<h3>Login to crush it!</h3>
<form method="post" action="/users/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">

  <input type="submit" value="Log In">
</form>
<br>
<br>
<label>Don't have an account? <a href="/users/signup">Sign Up here.</a></label>

