<!--(For signup/creating a new user)-->

<h2>Let's do it!</h2>

<h3>Sign Up</h3>
<form action="/users/signup" method="POST">
  <p>Name: <input type="text" name="username" placeholder="Username:"></p>
  <p>Password: <input type="password" name="password" placeholder="Password:"></p>
  <input type="submit" value="Sign Up">
</form>
<br>
<br>
<label>Already have an account? <a href="/users/login">Login here.</a></label>
 

  <!--<input class="btn btn-primary" type="submit">-->
  