<h2>Let's do it!</h2>
<img src="https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" style="float:right;width:400px;height:250px;">
<h3> &nbsp;  &nbsp; Sign Up:</h3>
<br />
<form action="/users/signup" method="POST">
  <p> &nbsp;  &nbsp; Name: <input type="text" name="username" placeholder="Username:"></p>
  <p> &nbsp;  &nbsp; Password: <input type="password" name="password" placeholder="Password:"></p>
   &nbsp;  &nbsp; <input  type="submit" value="Sign Up">
</form>
<br />
<br />
<br />
<br />
<br />
<label><i>Already have an account?</i> <a href="/users/login">Login here.</a></label>